.item-search{
  color: #fff;
}

.search-button{
  width: 250px;
  padding: 10px;
  background-color: #EAFE07;
  color: #000;
  border-radius: 10px;
}

.logo-white{
  width: 100px;
  height: 100px;
}

